#quote{
    width: 573px;
    height: auto;
}

#quoteSelector{
    width: inherit;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

#quoteText{
    width: 540px;
    height: auto;
    font: 400 19px/28px 'Inter-Regular';
}

#quoteButton{
    width: 17px;
    height: 17px;
    border: none;
    background: transparent url('./img/icon-refresh.svg') center/17px;
    cursor: pointer;
}

#author{
    font: 700 18px/28px 'Inter-Bold';
}