#quote{
    width: 1110px;
    height: auto;
    display: flex;
    flex-direction: column;
    color:white;
    margin-top: 56px;
}

#quoteSelector{
    width: 572px;
    height: auto;
    margin-top: 75px;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

#quoteText{
    width: 540px;
    height: auto;
    font: 400 19.2px/28px 'Inter-Regular';
}

#quoteButton{
    width: 18px;
    height: 18px;
    margin-top: 11px;
    border: none;
    background: transparent url('./img/icon-refresh.svg') center/18px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

@media(hover:hover){
    #quoteButton:hover{
        opacity: 0.4; 
    }
}


#author{
    font: 700 18.5px/28px 'Inter-Bold';
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #quote{
        width: 573px;
    }

    #quoteText{
        font: 400 18px/28px 'Inter-Regular';
    }

    #quoteButton{
        margin-top: 13px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {

}