#clock{
    width: 1110px;
    height: auto;
    margin-bottom: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color:white;
}


#clockGreatings{
    height: 28px;
    display: inline-flex;
    font: 400 20px/33px 'Inter-Regular';
    letter-spacing: 4px;
}

#clockIcon{
    width: 22px;
    height: inherit;
    margin-right: 18px;
}

.dayTimeIcon{
    background: url('./img/icon-sun.svg') center/22px;
}

.nigthTimeIcon{
    background: url('./img/icon-moon.svg') center/22px;
}

#clockTime{
    width: auto;
    height: 194px;
    display: inline-flex;
    align-items: flex-end;
}

#time{
    height: inherit;
    font: 700 200px/239px 'Inter-Bold';
    letter-spacing: 7px;
}

#timeZone{
    font: 300 40px/30px 'Inter-Light';
    margin: 0px 0px 0px 11px;
}

#clockLocation{
    width: inherit;
    margin-top: 10px;
    display:inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    font: 700 24px/28px 'Inter-Bold';
    letter-spacing: 4.8px;
}