#clock{
    width: 1110px;
    height: auto;
    margin-bottom: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color:white;
}

#clockGreatings{
    height: 28px;
    display: inline-flex;
    font: 400 20px/33px 'Inter-Regular';
    letter-spacing: 4px;
}

#clockIcon{
    width: 22px;
    height: inherit;
    margin-right: 18px;
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
}

.dayTimeIcon{
    background-image: url('./img/icon-sun.svg');
}

.nigthTimeIcon{
    background-image: url('./img/icon-moon.svg');
}

#clockTime{
    width: auto;
    height: 194px;
    display: inline-flex;
    align-items: flex-end;
}

#time{
    height: inherit;
    font: 700 200px/235px 'Inter-Bold';
    letter-spacing: 7px;
}

#timeZone{
    font: 300 40px/35px 'Inter-Light';
    margin: 0px 0px 0px 11px;
}

#clockLocation{
    width: inherit;
    margin-top: 10px;
    display:inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    font: 700 24px/28px 'Inter-Bold';
    letter-spacing: 4.8px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #clock{
        width: 573px;;
        margin-bottom: 64px;
    }
    
    #clockIcon{
        margin-right: 16px;
    }

    #clockTime{
        height: 155px;
    }
    
    #time{
        font: 700 175px/175px 'Inter-Bold';
    }
    
    #timeZone{
        font: 300 32px/28px 'Inter-Light';
    }
    
    #clockLocation{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font: 700 18px/28px 'Inter-Bold';
        letter-spacing: 3.6px;
    }

    #clockLocation button{
        margin-top: 80px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #clock{
        width: 324px;
        margin-bottom: 40px;
    }
    
    #clockGreatings{
        height: 25px;
        font: 400 15px/25px 'Inter-Regular';
        letter-spacing: 3px;
    }

    #currently{
        display: none;
    }

    #clockTime{
        height: 89px;
    }
    
    #time{
        height: inherit;
        font: 700 100px/100px 'Inter-Bold';
        letter-spacing: 5px;
    }
    
    #timeZone{
        font: 300 15px/12px 'Inter-Light';
        margin: 0px 0px 0px 5px;
    }
    
    #clockLocation{
        margin-top: 26px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font: 700 15px/28px 'Inter-Bold';
        letter-spacing: 3px;
    }

    #clockLocation button{
        margin-top: 58px;
    }
}