main{
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 56px 0px 0px;
    border: solid 1px blue;
}

.dayTimePic{
    background: url('./assets/img/desktop/bg-image-daytime.jpg');  
}

.nightTimePic{
    background: url('./assets/img/desktop/bg-image-nighttime.jpg');  
}