@charset "utf-8";

@font-face {
	font-family: 'Inter-Regular';
	src: url('../fonts/Inter-Regular.woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter-Bold';
	src: url('../fonts/Inter-Bold.woff');
	font-weight: 700;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main{
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 56px 0px 0px 165px;
    border: solid 1px blue;
}